.code-show {
  margin: 10px;
}

#ourCode {
  color: blue;
  background-color: rgb(221, 218, 218);
  height: 100px;
  width: 300px;
  padding: 10px;
  font-size: large;
}

#generateCode {
  background-color: aliceblue;
  margin-left: 10px;
}

label {
  background-color: rgb(221, 218, 218);
}

.btn {
  margin-top: 20px;
  padding: 20px;
}
