#container {
  width: calc(1536px / 6);
  height: 256px;

  background-image: url('spritestrip.png');

  margin: 0 auto;
  border: red solid 2px;
  animation: run 1s steps(6) infinite;
}

@keyframes run {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1536px 0;
  }
}
